
  .top-image {
    margin-bottom: 10px;
    border-bottom: 1px dashed black;
    padding-bottom: 30px;
  }

  .top-image .image img {
    width: 100%;
    height: auto;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
    
}      

   